<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:import resource="applicationContext.xml"/>

    <http auto-config="true" use-expressions="true"><!--auto-config="true" -->
        <intercept-url pattern="/admin**" access="hasRole('ROLE_USER') and hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/**" access="true"/>

        <!-- access denied page -->
        <access-denied-handler error-page="/403"/>

        <form-login
                login-page="/login"
                default-target-url="/"
                authentication-failure-url="/login?error"
                username-parameter="username"
                password-parameter="password"
                login-processing-url="/auth/login_check"
                authentication-success-handler-ref="savedRequestAwareAuthenticationSuccessHandler"/>
        <logout logout-success-url="/login?logout" logout-url="/j_spring_security_logout" delete-cookies="JSESSIONID"/>
        <!-- enable csrf protection -->
        <csrf/>



    </http>

    <authentication-manager>
        <authentication-provider>

            <user-service>
                <user name="asd" password="asdasd" authorities="ROLE_USER" />
                <user name="qwe" password="qweqwe" authorities="ROLE_USER, ROLE_ADMIN" />
                <user name="zxc" password="zxczxc" authorities="ROLE_ADMIN" />
            </user-service>

        </authentication-provider>
    </authentication-manager>

</beans:beans>